.input {
    cursor: text;
    font-size: var(--font-size-base);
    transition: var(--transition-fast);
    
    width: 100%;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius);

    appearance: none;
    color: var(--color-text);
    background-color: var(--color-bg);
    border: var(--border-width) solid var(--color-border); 
}
.input:focus {
    border-color: var(--color-primary);
    outline: none;
}