.container {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);

    min-height: 100vh;
    margin: 0;
    padding: 0;

    color: var(--color-text);
    background-color: var(--color-bg);
}

.content {
    display: flex;
    flex-direction: column;
    
    width: 100vw;
    padding: calc(var(--height-header) + 16px) 16px 16px 16px;
    min-height: 100vh;
    animation: load 0.2s ease-in-out;
}
.content-garage,.content-details {
    gap: var(--spacing-md);
}

.title {
    text-align: center;
    font-size: var(--font-size-title);
    color: var(--color-primary);
}
.subtitle {
    font-size: var(--font-size-subtitle);
    color: var(--color-primary);
}

@keyframes load {
    0% { opacity: 0; }
    100% { opacity: 1; }
}